/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Rampart+One&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF1D0;
    font-family: 'Lexend', sans-serif;
    color: black;
}

.container-headline h1 {
    font-family: 'Rampart One', sans-serif;
    font-size: clamp(40px, 8vh, 700px);
}

.container-headline h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: clamp(5vh, 30px, 300px);
}

.container-headline {
    text-align: center; 
    margin-bottom:10px; 
}

.container-image {
    max-width: 1000px;
    margin: 0 auto;
}

#button-general {
    text-align: center;
    margin: 0 auto;
}

.button-general-style {
    background-color: #07A0c3;
    padding: 5px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-size: clamp(3vh, 20px, 300px);
    font-weight: 400;
    margin: 20px;
    width: 250px;
}