/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Rampart+One&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF1D0;
    font-family: 'Lexend', sans-serif;
    color: black;
}

/* Styles the Headline */
.container-headline h1 {
    font-family: 'Rampart One', sans-serif;
    font-size: clamp(40px, 8vh, 700px);
}

.container-headline h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: clamp(4vh, 30px, 300px);
}

.container-headline {
    text-align: center; 
    margin-bottom:10px; 
}

/* Styles the image on the landing page */
.container-image {
    max-width: 800px;
    margin: 0 auto;
}

.container-image img {
    width: 100%;
    height: 100%;
}

/* Styles the general buttons */
#button-general {
    text-align: center;
    margin: 0 auto;
}

.button-general-style {
    background-color: #07A0c3;
    padding: 5px 5px 5px 20px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-size: clamp(30px, 20px, 250px);
    font-weight: 400;
    margin: 20px 10px;
    width: 260px;
    border-radius: 25px;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

/* Styles the answer buttons */
#button-answers {
    text-align: center;
    margin: 0 auto;  
}

.button-answers-style {
    background-color: #0B34DE;
    color: white;
    padding: 5px 5px 5px 20px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-size: clamp(30px, 20px, 250px);
    font-weight: 400;
    margin: 20px 10px;
    width: 260px;
    border-radius: 25px;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.button-answers-style:hover, .button-general-style:hover  {
    border-color: #F0c808;
  }

.button-header {
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: clamp(3vh, 30px, 300px);
}

/* Styles the rules page */
.container-rules {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: clamp(2.5vh, 35px, 200px);
    background-color: #0B34DE;
    padding: 10px;
    border-radius: 25px;
    color: white;
}

.container-rules p {
    text-align: justify;
}

/* Styles the "Qestion" flag on the game page */
.question-flag {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.question-flag img {
    height: 40%;
    width: 40%;
}
